@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	background-image: url(https://avatars.mds.yandex.net/get-verba/1030388/2a0000017c513f35753dc475026b587dfb41/cattouchretcr)no-repeat;
	background-size: 100%;
	margin: 100px 100px;


	font-size: font-family: 'Roboto', sans-serif;
	color: black;
	}
*{
	margin: 0;
	padding: 0;
	color: red;
}
body{
	background: black;
	color: black;
}
header{
	display: flex;
	justify-content: center;
	
}
.Logo, .Top_menu{
	display: inline-block;
	
	
}
.Top_menu li{
	display: inline-block;

}

